#contact .title {
  margin-top: 3rem;
}

#contact .is-mobile {
  margin-top: 2rem;
}

footer {
  margin-top: 50px;margin-bottom: 10px;
}

header {
  margin-top: 3rem;
}

#functions .button {
  width: 100%;
}

.icon i {
    font-size: 4rem;
  }

#contact .icon {
  margin-bottom: 1.5rem;
}
