header {
  margin-top: 3rem;
}

footer {
  margin-top: 50px;margin-bottom: 10px;
}

#functions .button {
  width: 100%;
}

#contact .title {
  margin-top: 3rem;
}

#contact .is-mobile {
  margin-top: 2rem;
}


#contact .icon {
  width: 100%;
  height: 4rem;
}

#contact .icon i {
    font-size: 4rem;
  }

#contact .icon {
  margin-bottom: 1.5rem;
}

#squares > .column {
  padding: 1rem 0;
}

#squares > .column:nth-of-type(2n) {
  background-color: #f7f7f7;
}

#squares > .column:nth-of-type(2n+1) {
  background-color: #eeeeee;
}

#squares {
  cursor: pointer;
}

#squares > .column:hover {
  background: hsl(48, 100%, 67%);
}